@model IList<Nop.Plugin.Misc.NopStation.Models.DeveloperModel>

@{
    var pictureUrl = ViewData["pictureUrl"]?.ToString() ?? "";
    //var link = ViewData["link"]?.ToString() ?? "";

    if (!string.IsNullOrEmpty(pictureUrl))
    {
        <img src="@pictureUrl" />

        // if (!string.IsNullOrEmpty(link))
        // {
        //     <a href="@link">
        //         <img src="@pictureUrl" data-thumb="@pictureUrl" />
        //     </a>
        // }
        // else
        // {
        //     <img src="@pictureUrl" data-thumb="@pictureUrl" />
        //     <img src="@pictureUrl"/>
        // }
    }
}
